[user]
    name = Mikhail Troshev
    email = mishanga@yandex-team.ru
[alias]
    co = checkout
    st = status
    di = diff --no-prefix
    br = branch
    ci = commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    hist = log --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]' --graph --date=short --branches --all
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,space-before-tab
