[user]
    name = Mikhail Troshev
    email = mishanga@yandex-team.ru
[alias]
    co = checkout
    st = status
    di = diff
    br = branch
    ci = commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    hist = log --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]' --graph --date=short --branches --all
[color]
    branch = auto
    grep = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[core]
    autocrlf = input
    filemode = false
    preloadindex = true
    whitespace = fix,-indent-with-non-tab,-tab-in-indent,tabwidth=4,trailing-space,cr-at-eol
[merge]
    log = true
[diff]
    noprefix = true
